body {
  overflow-y: hidden;
}
.select-panel {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.select-panel form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list {
  min-width: 20vw;
  min-height: 5vh;
  border: 2px solid rgb(167, 167, 167);
  outline: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.9);
}

.oops {
  display: grid;
  align-content: center;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 55vh;
}

#search {
  min-width: 15vw;
  min-height: 5vh;
  border: 1px solid rgb(171, 159, 129);
  outline: none;
  border-radius: 20px;
  padding: 2px 10px;
}

.load {
  display: grid;
  align-content: center;
  justify-content: center;
  margin-top: 15vh;
  margin-bottom: 80vh;
}

.b-search {
  border: none;
}

.b-search:hover {
  background: transparent;
}

.b-search:focus,
.b-search:active:focus,
.b-search.active:focus {
  outline: none;
  box-shadow: none;
}
